@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'base/variables';
@import 'libs/icons_font';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: $main-color;    
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
}
b {
    color: #000;
}


.container {
    width: 1154px;
    margin: 0 auto;
}

@import 'blocks/btn';
@import 'blocks/modal/modal';
@import 'blocks/title';
@import 'blocks/header/header';
@import 'blocks/promo/promo';
@import 'blocks/choice-summer/choice-summer';
@import 'blocks/species/species';
@import 'blocks/choice-greenhouse/choice-greenhouse';
@import 'blocks/test/test';
@import 'blocks/order/order';
@import 'blocks/gifts/gifts';
@import 'blocks/gather/gather';
@import 'blocks/feedback/feedback';
@import 'blocks/documentation/documentation';
@import 'blocks/questions/questions';
@import 'blocks/guest/guest';
@import 'blocks/map';
@import 'blocks/footer/footer';

//media

@import 'style-media';
@import 'blocks/header/media-header';
@import 'blocks/promo/promo-media';
@import 'blocks/modal/modal-media';
@import 'blocks/choice-summer/choice-summer-media';
@import 'blocks/species/species-media';
@import 'blocks/choice-greenhouse/choice-greenhouse-media';
@import 'blocks/test/test-media';
@import 'blocks/order/order-media';
@import 'blocks/gifts/gifts-media';
@import 'blocks/gather/gather-media';
@import 'blocks/feedback/feedback-media';
@import 'blocks/documentation/documentation-media';
@import 'blocks/questions/questions-media';
@import 'blocks/guest/guest-media';
@import 'blocks/footer/footer-media';