@media (max-width: 1200px) {
    .test {
        &__pic {
            height: 150px;
            right: 50%;
            max-width: 80px;
            transform: rotate(90deg) translate(100%, -25%) scale(2);
        }
    }
}
@media (max-width: 991px) {
    .test {
        padding-bottom: 100px;
        min-height: 200px;
        &__video {
            width: 100%;
            height: 100%;
        }
        &__title {
            font-size: 33px;
            line-height: 140%;
        }
    }
}
@media (max-width: 767px) {
    .test {
        padding: 60px 0 89px 0;
        &__title {
            font-size: 24px;
            line-height: 120%;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__video {
            &-wrapper {
                width: 80%;
            }
            &-name {
                font-size: 24px;
                line-height: 130%;
            }
            &-play {
                width: 60px;
                height: 60px;
                img {
                    width: 18px;
                    height: 21px;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .test {
        padding-top: 30px;
        &__subtitle {
            margin-top: 20px;
        }
        &__video {
            &-name {
                font-size: 18px;
                line-height: 130%;
            }
            &-subname {
                margin-top: 11px;
            }
            &-play {
                width: 48px;
                height: 48px;
                img {
                    width: 16px;
                    height: 19px;
                }
            }
        }
        &__pic {
            max-width: 78px;
            height: 90px;
            transform: rotate(90deg) translate(50%, -50%) scale(2);
        }
    }
}