@media (max-width: 991px) {
    .choice-summer {
        &__wrapper-item {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin: 20px;
            width: 300px;
        }
        &__logo {
            margin-top: 45px;
            &:after {
                width: 150px;
                right: calc(-15px - 150px);
            }
            &:before {
                width: 150px;
                left: calc(-15px - 150px);
            }
        }
    }
}
@media (max-width: 767px) {
    .choice-summer {
        &__wrapper-item {
            justify-content: center;
            text-align: center;
        }
        &__item {           
            width: 230px;
        }
        &__wrapper-text {
            display: none;
        }
    }
}

@media (max-width: 359px) {
    .choice-summer {
        padding: 25px 0 70px 0;
        &__item {
            margin: 25px 0;
        }
    }
}