@media (max-width: 1200px) {
    header {
        position: relative;
    }
    .header {
        &__wrapper {
            padding-top: 0;
            min-height: 90px;
        }
        &-logo {
            width: 96px;
            margin-left: 80px;
            &__img {
                width: 75%;
            }
            &__dscr {
                display: none;
            }
        }
        &-content {
            padding: 0;
            &__navigation {
                z-index: 100;
                position: absolute;
                top: 90px;
                width: 260px;
                height: calc(100vh - 90px);
                left: -260px;
                background-color: rgb(238, 238, 238);
                transition: all 0.5s;
                ul {
                    margin-left: 40px;
                    display: block;
                    li {
                        margin-top: 24px;
                        margin-left: 0;
                        a {
                            color: #333;
                            font-weight: bold;
                        }
                    }
                }
                &_active {
                    left: 0;
                }
            }
        }
        &__hamburger {    
            margin-left: 14px;        
            position: absolute;
            width: 52px;
            height: 49px;
            top: 50%;
            transform: translateY(-50%);
            padding: 10px;
            left: 10px;
            span {
                margin-top: 13px;
                position: absolute;
                display: block;
                width: 32px;
                height: 3px;
                background-color: #FF9811;
                transform: rotate(0deg);
                transition: transform 0.3s;
                &:first-child {
                    top: 0px;
                    transform: rotate(0deg);
                    transition: transform 0.3s, top 0.15s 0.2s;
                }
                &:nth-child(2) {
                    top: 10px;
                }
                &:last-child {                
                    top: 20px;
                    transform: rotate(0deg);
                    transition: transform 0.3s, top 0.15s 0.2s;
                }
            }
        }
    }
    .header__wrapper .open span {
        top: 10px;
        transform: rotate(225deg);
        transition: top 0.15s, transform 0.3s 0.2s;
        &:first-child {                
            transform: rotate(315deg);
        }
    }
}
@media (max-width: 991px) {
    .header {
        &-content {
            &__btn {
                display: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .header {
        &-content {
            &__dscr {
                display: none;
            }
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__wrapper {
            min-height: 70px;
        }
        &__hamburger {

            left: -10px;
        }
        &-logo {
            margin-left: 50px;
            width: 72px;
            &__img {
                width: 100%;
            }
        }
        &-content {
            &__phone {
                margin-left: 15px;
            }
            &__navigation {
                top: 70px;
                height: calc(100vh - 70px);
            }
        } 
    }
}

@media (max-width: 359px) {
    .header-content__phone {
        width: 43px;
        justify-content: center;
        padding: 0;
        div {
            display: none;
        }
    } 
}