@media (max-width: 1200px) {
    .species {
        padding-bottom: 90px;
        &__wrapper {
            width: 650px;
        }
        &__descr {
            &-card {
                padding-right: 20px;
            }
            h3 {
                font-size: 27px;
            }
        }
        &__tabs {
            ul {
                li {
                    margin-left: 4px;
                }
            }
        }
        &__card {
            &-preview {
                div {
                    img {
                        width: 208px;               
                    }
                } 
            }
            &-content {
               width: 380px;
            }
        }
    }
}
@media (max-width: 991px) {
    .species {
        padding-bottom: 155px;
        &__wrapper {
            width: 720px;
        }     
        &__tabs {
            ul {
                justify-content: center;
                li {
                    margin: 0 9px;
                }
            }
        }
        &__consultation {
            display: none;
        }
        &__content {
            &_active {
                flex-direction: column;
                align-items: center;
            }
        }
        &__descr {
            width: auto;
            padding: 0;
            &-card {
                display: flex;
                margin-top: 30px;
            }
        }
        &__list {
            margin-left: 30px;
            h3 {
                font-size: 21px;
                margin-left: 10px;
            }
        }
        &__card {
            &-preview {
                div {
                    img {
                        width: 232px;               
                    }
                } 
            }
            &-content {
               width: 452px;
            }
        }
    }    
}
@media (max-width: 767px) {
    .species {
        &__wrapper {
            width: 540px;
        }
        &__card {
            &-wrapper {
                flex-direction: column;
                align-items: center;
            }
        }     
        &__tabs {
            ul {
                li {
                    margin: 10px 15px;
                }
            }
        }
        &__card {
            &-picture {
                width: 90%;
                height: 450px;
            }
            &-preview {
                div {
                    img {
                        width: 172px;               
                    }
                } 
            }
            &-content {
                margin: 0;
                width: 98%;
            }
        }
    }
}
@media (max-width: 575px) {
    .species {
        padding-bottom: 272px;
        &__content {
            position: relative;
        }
        &__consultation {
            text-align: center;
            display: block;
            position: absolute;
            bottom: -192px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__wrapper {
            width: 330px;
        }
        &__descr {
            width: 330px;
            &-card {
                flex-direction: column;
                align-items: center;
            }
        }
        &__tab {
            padding: 0 40px;
        }
        &__tabs {
            ul {
                li {
                    margin: 6px 4px;
                }
            }
        }
        &__list {
            margin-left: -12px;
            h3 {       
                font-size: 26px;
                margin: 0;        
                text-align: center;
            }
        }
        &__sale-wrapper {
            text-align: left;
            z-index: 10;
            padding-right: 60%;
            div {                
                position: static;
                margin-top: 5px;
            }            
        }
        &__card {
            &-picture {
                height: auto;
                & > img {
                    display: none;
                }
            }
            &-preview {
                display: none;
            }
            &-mobile {
                display: block;
                position: relative;
                .slick {
                    &-arrow {
                        width: 38px;
                        height: 38px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 10;
                        background: #FFFFFF;
                        border: none;
                        border-radius: 100%;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                        outline: none;
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    &-next {
                        right: -38px;
                    }
                    &-prev {
                        left: -38px;
                    }
                }
            }
            &-content {
                text-align: center;
            }
            &-length {
                margin-left: 10px;
            }
            &-footer {
                margin-top: 20px;
                display: block;
            }
            &-btn {
                margin-top: 31px;
            }
        }
    }
}

@media (max-width: 445px) {
    .species {
        &__tab {
            padding: 0 20px;
        }
    }
}

@media (max-width: 357px) {
    .species {
        &__tab {
            padding: 0 40px;
        }
    }
}

@media (max-width: 359px) {
    .species {
        &__wrapper {
            width: 300px;
        }
        &__list {
            margin-left: 0px;
        }
        &__descr {
            width: 300px;
        }
        &__card {
            &-mobile {
                .slick {
                    &-next {
                        right: -35px;
                    }
                    &-prev {
                        left: -36px;
                    }
                }
            }
        }
    }
}